<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <base href="{{_BASE}}">
  <title>EvolvitCMS {% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock %}"/>
  <meta name="keywords" content="self hosted CMS ">
  <link rel="icon" href="images/favicon.png">
	<!-- stylesheet css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="css/templatemo-style.css">
  <style>
    .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
      flex-wrap: wrap;
    }
    .row > [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
    /*bs3 safari bug*/
    .row [class*=col-]{
      margin:0 -.3px;
    } 
  </style>
	<!-- google web font css 
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  -->
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="cms/sharedstyle.css"> -->

</head>
<body>

<!-- navigation -->
  <div class="container sticky">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"><img src="images/logo.png" class="img-responsive" alt="logo"></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index" class="{{ (_GET[0] in ['index',''])?'active':'' }}">HOME</a></li>
          <li><a href="doc/quickstart" class="{{ _GET[1]=='quickstart'?'active':'' }}">QUICKSTART</a></li>
          <li><a href="download" class="{{ _GET[0]=='download'?'active':'' }}">DOWNLOAD</a></li>
          <li><a href="index">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>		


  <!-- MAIN CONTENT-->
  {% block content %}{% endblock %}


<!-- footer section -->
<footer>
	<div class="container">
		<div class="row" style="justify-content: space-between;">
        
<!--			<div class="col-md-5 col-sm-4"> -->
			<div class="col-sm-6"> 

				<div>
          <img src="images/logo.png" class="img-responsive" alt="logo">
        </div>
        <!--
				<p>Onetel! is free Bootstrap v3.3.5 HTML5 layout from 
                <a rel="nofollow" href="http://www.facebook.com/templatemo" target="_parent">templatemo</a> website.
                Feel free to use it for your website.</p>
        -->
        <p></p>
				<p>
          <a href="tel:381648111610">
            <i class="fa fa-phone"></i> +381 64 8111 610
          </a>
        </p>
				<p>
          <a href="mailto:info@evolvitcms.com">
            <i class="fa fa-envelope-o"></i> info@evolvitcms.com
          </a>
        </p>
              <p><i class="fa fa-globe"></i> https://evolvitcms.com</p>
			</div>

<!--			<div class="col-md-3 col-sm-4"> -->
			<div class="col-sm-6">
				<h3 style="padding-top:0 !important; margin-top: 16px;">Demo</h3>
				<p><a href="http://news.evolvitcms.com/playground/#newspage" target="_blank">News</a></p>
				<p><a href="http://news.evolvitcms.com/playground/#newspage" target="_blank">Blog</a></p>
				<p><a href="http://news.evolvitcms.com/playground/#newspage" target="_blank">Gallery</a></p>
				<p><a href="http://news.evolvitcms.com/playground/#newspage" target="_blank">Main meni</a></p>
			</div>
    <!--
			<div class="col-md-4 col-sm-4 newsletter">
				<h3>Newsletter</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo.</p>
				<div class="input-group">
           	    	<form action="#" method="post">
                      <input name="email" type="email" placeholder="Enter your email" class="form-control" autorequired>
                    	<button type="submit" name="submit" class="btn email">Submit</button>
                  	</form>
				 </div>
			</div>
         -->   
		</div>
	</div>
</footer>



<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p>Copyright © 2020 EvolvitCMS</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="https://twitter.com/VujovicIgor" target="_blank" class="fa fa-twitter"></a></li>
          <!--
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-behance"></a></li>
          -->
					<li><a href="mailto:info@evolvitcms.com" class="fa fa-envelope-o"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>	
<!-- javascript js 	
<script src="js/nivo-lightbox.min.js"></script>
-->
<script src="js/custom.js"></script>

</body>
</html>
