{% extends "base.twig" %}
{% block description %}Download, unzip and play{% endblock %}
{% block content %}

<div id="price-free-label-preload" style="display:none"></div>
<div id="price-premium-label-preload" style="display:none"></div>
<div id="price-switch-preload" style="display:none"></div>

<!-- price section -->
<div id="price">
	<div class="container">
    
		<div class="row" style="justify-content: center;">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h2>DOWNLOAD</h2>
        <p>Download for free - support us with a donation</p>
			</div>
    </div>
         
    <div class="row mt30">

			<div class="col-md-2 col-sm-2 col-xs-12">
      </div>

			<div class="col-md-4 col-sm-4 col-xs-12">
        <a href="evolvitcmsfile/evolvitcms.zip" download>

          <div class="price-wrapper" style="text-align: center;">
            <div class="bg-img-div price-free-label">
            </div>
            <div class="bg-img-div price-switch">
            </div>
            <h3>FREE</h3>
            <img src="images/download_button.png" alt="free download">
          </div>
        </a>
			</div>

      <a href="http://paypal.me/vujovicigor/5eur" target="_blank">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="price-wrapper" style="text-align: center;">
            <div class="bg-img-div price-premium-label">
            </div>
            <div class="bg-img-div price-switch">
            </div>
            <h3>
            <img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_secured_by_pp_2line.png" border="0" alt="Secured by PayPal"
            style="height: 29px; width: 143px; object-fit: cover;" >
            </h3>
            <a href="evolvitcmsfile/evolvitcms.zip" download>
              <img src="images/donate_button.png" alt="donate">
            </a>
          </div>
        </div>
      </a>

			<div class="col-md-2 col-sm-2 col-xs-12">
      </div>      

    </div>
	</div>
</div>		

{% endblock %}
