{% extends "base.twig" %}
{% block description %}Evolvit CMS - add CMS to your static site{% endblock %}
{% block content %}

<!-- home section -->
<div id="prefetch" style="display:none"></div>

<div id="homez">
	<div class="container">
		<iframe id="iframe" src="Evol_html/Evol_html" style="border:0" width="999px" height="250px">
		</iframe>
	</div>
</div>

<!-- divider section -->
<div class="divider">
	<div class="container">
		<div class="row" style="justify-content: center;">
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-one">
          <div class="divider-bulb">
          </div>
  <!--					<i class="fa fa-laptop"></i> -->
          <h2>Copy-Paste</h2>
          <p>Does not require installation (SSH) - only copy & paste!

Node.js, NPM or Composer is not required.

No need to learn
anything new.
          </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-two">
          <div class="divider-bulb">
          </div>
					<h2>Say goodbye<br>
to Wordpress</h2>
					<p>Suitable for both new and existing websites.

2x faster than Wordpress.

Does not interfere
with design
          </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="divider-wrapper divider-three">
          <div class="divider-bulb">
          </div>
					<h2>YOU ARE THE BOSS</h2>
					<p>Do not depend on other's servers, everything is hosted by you.

            Can work on any of the most common cheap shared 
            hosting.
          </p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
function displayWindowSize(){
  var frame_width = 999
  var frame_heigth = 250
  var f = document.getElementById('iframe')
  var parentW = f.parentElement.clientWidth
  var scale = (parentW-30)/frame_width;
  f.style.transform=`scale(${scale})`
  f.parentElement.style.height = `${frame_heigth*scale}px`      
}
window.addEventListener("resize", displayWindowSize);
displayWindowSize();
</script>


{% endblock %}
