{% extends "base.twig" %}
{% block description %}Evolvit CMS - add CMS to your static site{% endblock %}
{% block content %}

<!-- home section -->
<div id="prefetch" style="display:none"></div>

<div id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-3"></div>
			<div class="col-md-7 col-sm-9">
      <!--
				<h3>welcome to</h3>
				<h1>Onetel Design Studio</h1>
        -->
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="divider">
	<div class="container">
		<div class="row" style="justify-content: center;">
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-one">
          <div class="divider-bulb">
          </div>
  <!--					<i class="fa fa-laptop"></i> -->
          <h2>Unzip &amp; go</h2>
          <p>Does not require SSH access - just unzip archive and cms is ready!

Does not require Node.js installation.

No need to learn
anything new.
          </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-two">
          <div class="divider-bulb">
          </div>
					<h2>Keep your<br>
Desing</h2>
					<p>Suitable for both new and existing websites.

Does not interfere
with design
          </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="divider-wrapper divider-three">
          <div class="divider-bulb">
          </div>
					<h2>YOU ARE THE BOSS</h2>
					<p>Do not depend on other's servers, everything is hosted by you.

            It can be hosted on any shared 
            host.
          </p>
				</div>
			</div>
		</div>
	</div>
</div>


{#
<!-- about section, Video -->
<div id="about">
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-sm-12" id="preview-target" style="margin: auto -0.3px;">
<!--				<img src="images/about-img.jpg" class="img-responsive" alt="about img"> -->
        <video width="100%" height="100%" controls poster="images/video_preview.png">
          <source src="video/Evolvit_web.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>        
			</div>

			<div class="col-md-6 col-sm-12 about-des" style="background-color:#101c30; color:#657998 ; font-weight: 300;">
				<h2 style="color:#ffcb08; font-weight: 300;">SIMPLE, LIGHTWEIGHT CMS</h2>
				<p>There are many situations when developer builds a fantastic fast website in pure html/css, and after that the client says - Can I upload the image on the index page and edit the text?
        </p><p>
        Then the agony for the developer ensues, and he soon learns that he has to throw everything he has done and rework everything from the beginning using some imposed philosophy. (e.g. WordPress)

        </p><p>EvolvitCMS is the smartest and easiest solution to avoid agony. Just copy&paste it on your existing server and make your changes easily.
        </p>
				
				<!-- <a href="about.html" class="btn btn-default">LEARN MORE</a> -->
			</div>
		</div>

  
		<div class="row" style="margin-top: 4rem; margin-bottom: 4rem;">
			<div class="col-md-8 col-sm-12 about-des" style="background-color:#101c30; color:#657998 ; font-weight: 300;">
				<p style="white-space:pre-wrap; position:relative">
I created an small website (4 pages) with bootstrap.
Like landing page, pages for events, etc etc... nothing really complicated.
Then I need to change text like 100 of time until is finally approved.
I’m looking for a way for other person to edit this page.
Just text, maybe change the pictures.
As you see, nothing really complicated.

As can I imagine this in my head is just a back-end and them after login, they can:
A. Go to the frontend and change text directly, maybe images or
B. In the back end, have modules where you change the text.

Is a really simple, basic, CMS.
As you see for this situation, Wordpress / Drupal / Joolma is overkill.
Too complicated for what I needed.
I dont need plugins, comments, users, themes.
Also, I dont have access to SSH on the server, I just have access to FTP. I said this because I checked some solutions and the required to install the CMS over the terminal.

          <div class="hidden-xs hidden-sm" style="width: 0; position:absolute; right:-100px; top:15px;
            height: 0;
            border-style: solid;
            border-width: 12px 0 12px 100px;
            border-color: transparent transparent transparent #101c30;">
          </div>

        </p>

        
			</div>

			<div class="col-md-4 col-sm-12">
        <div>
				  <img src="images/saved_my_day.png" class="img-responsive" alt="saved_my_day">
        </div>
			</div>

		</div>


	</div>
</div>
#}

<!-- portfolio section -->
{#
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h2>Recent Projects</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
			</div>
         </div>
         
         <div class="row mt30">
            
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img1.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img2.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img3.jpg" alt="portfolio img"></a>
			</div>
            
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img4.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img5.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img6.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<a href="images/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img7.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-12 col-sm-12">
				<a rel="nofollow" href="http://www.templatemo.com/tag/darkgray" class="btn btn-default">View More</a>
			</div>
		</div>
	</div>
</div>		
#}
<style>
video:focus {
    border: 0;
    outline: 0;
}
</style>
{% endblock %}
